if posts
  each post in posts
    div(class="media")
      div(class="media-left")
        if post.createdByImg === 'default-img.gif'
          img(src="../static/images/uploads/" + post.createdByImg class="avatar img-circle" alt="avatar" style="width:60px")
        else
          img(src="../static/images/uploads/" + post.createdById + post.createdByImg class="avatar img-circle" alt="avatar" style="width:60px")
      div(class="media-body")
        h4(class="media-heading")
          a(href="/profile/user/" + post.createdById)
            = post.createdBy
          small 
            = 'Posted on ' +  post.createdOn
        p= post.content