each thread in threads 
    div(class="row")
        div(class="col-xs-6 col-lg-4")
            h2= thread.name
            p= "Created by " + thread.createdBy + " on " +  thread.createdOn + "."
            p= thread.content
                a(class="btn btn-default" href="/threadpage/" + thread._id role="button")
                    | View details &raquo;>;