doctype html
html
    include includes/head.pug
    body
        nav(class="navbar navbar-fixed-top navbar-inverse")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only")
                            | Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="#")
                        | Project name
                div(id="navbar" class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/")
                                | Home
                        li
                            a(href="#about")
                                | About
                        li
                            a(href="#contact")
                                | Contact
        div(class="container")
            div(class="row row-offcanvas row-offcanvas-right")
                div(class="col-xs-12 col-sm-9")
                    p(class="pull-right visible-xs")
                    div(class="jumbotron")
                        h1
                            | Hello, world!
                        p
                            | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
            form(method="post" action="/createpost/" + id)
                div(class="form-group")
                    label(for="selectTopic")
                        | Created by:
                    input(type="text" class="form-control" id="disabledInput" placeholder= user[0].username readonly="true")                 
                    small(id="createHelp" class="form-text text-muted")
                        | who created this.              
                div(class="form-group")
                    label(for="threadTextarea")
                        | Content
                    textarea(class="form-control" id="threadTextarea" rows="3" name="content")
                button(type="submit" class="btn btn-primary")
                    | Submit