doctype html
html
    include includes/head.pug
    body(id="babout")
        div(id="header")
            h1
                | NodeJS Project Forum
        div(id="navigation")
            ul
                li(id="lhome") 
                    a(href="/")
                        | Home
                li(id="llogin") 
                    a(href="/login")
                        | Log in
                li(id="llregister")
                    a(href="/register")
                        | Register                   
        div(id="wrapper")
            div(id="content-wrapper")
                div(id="content")
                    h2
                        | Topics  
                    table
                        tbody                         
                            tr
                                td
                                    a(href="/topicpage")
                                        h4
                                            | Topic One cell one
                                td
                                    h4
                                        | Topic One cell two                         
    include includes/footer.pug