doctype html
html
    include includes/head.pug
    body(id="babout")
        div(id="header")
            h1
                | NodeJS Project Forum
        div(id="navigation")
            ul
                li(id="lhome") 
                    a(href="/")
                        | Home
                li(id="llogin") 
                    a(href="/login")
                        | Log in
                li(id="llregister")
                    a(href="/register")
                        | Register                   
        div(id="wrapper")
            div(id="content-wrapper")
                div(id="content")
                    h2
                        | Topics  
                    table
                        tbody 
                            tr
                                th
                                    | Here you can find Topics posted by our Admins  
                                th  
                                    | Aditional information                         
                            tr
                                td
                                    a(href="/topic_one_page")
                                        h4
                                            | Topic One cell one
                                td
                                    h4
                                        | Topic One cell two
                            tr            
                                td
                                    a(href="/topic_two_page")
                                        h4
                                            | Topic One cell one
                                td
                                    h4
                                        | Topic One cell two
                            tr    
                                td
                                    a(href="/topic_three_page")
                                        h4
                                            | Topic One cell one
                                td
                                    h4
                                        | Topic One cell two
                            tr    
                                td
                                    a(href="/topic_four_page")
                                        h4
                                            | Topic One cell one
                                td
                                    h4
                                        | Topic One cell two                                                                                      
    include includes/footer.pug