doctype html
html
    include includes/head.pug
    body
        nav(class="navbar navbar-fixed-top navbar-inverse")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only")
                            | Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/")
                        | Project name
                div(id="navbar" class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/")
                                | Home
                        if authenticated
                            li
                                a(href="/chatroom")
                                    | Chat Room
        div(class="container")
            div(class="row")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        | Inbox
                    div(class="panel-body")
                        div(class="list-group")
                            include includes/messagesgenerator.pug
                            