doctype html
html
    include includes/head.pug

    body(id="babout")
            div(id="header")
                h1NodeJS Project Forum
            div(id="navigation")
                ul
                    li(id="lhome") 
                        a(href="/")
                            | Home
                    li(id="llogin") 
                        a(href="/login")
                            | Log in
                    li(id="llregister")
                        a(href="/register")
                            | Register
                        
            div(id="wrapper")
                div(id="content-wrapper")
                    div(id="content")
                        h4
                            | Posts 
                        table
                            tbody                         
                                tr
                                    td
                                        a(href="/threadpage")
                                            | Post One cell one
                                    td
                                        | Post One cell two

    include includes/footer.pug