doctype html
html
    include includes/head.pug

    body(id="babout")
            div(id="header")
                h1
                    | NodeJS Project Forum
            div(id="navigation")
                ul
                    li(id="lhome") 
                        a(href="/")
                            | Home
                    li(id="llogin") 
                        a(href="/login")
                            | Log in
                    li(id="llregister")
                        a(href="/register")
                            | Register
                        
            div(id="wrapper")
                div(id="content-wrapper")
                    div(id="content")
                        h4
                            | Posts 
                        button(type="button" id="newPostBtn")
                            | Post a reply    
                        table
                            tbody                                                    
                                tr
                                    td
                                        a(href="/topicpage")
                                            h4
                                                | Post One cell one        
    include includes/footer.pug