doctype html
html
    include includes/head.pug

    body(id="babout")
            div(id="header")
                h1
                    | NodeJS Project Forum
            div(id="navigation")
                ul
                    li(id="lhome") 
                        a(href="/")
                            | Home
                    li(id="llogin") 
                        a(href="/login")
                            | Log in
                    li(id="llregister")
                        a(href="/register")
                            | Register
                        
            div(id="wrapper")
                div(id="content-wrapper")
                    div(id="content")
                        h4
                            | Threads 
                        button(type="button" id="newThreadBtn")
                            | Create a new Thread
                        table
                            tbody
                                tr
                                    th
                                        | Here you can find Thread by other people  
                                    th  
                                        | Aditional information                       
                                tr
                                    td
                                        a(href="/threadpage")
                                            h4
                                                | Thread One cell one
                                    td
                                        h4
                                            | Thread One cell two          

    include includes/footer.pug